<div class="col-md-12">

    <div style="overflow: auto">
    <h1 class="pull-left">Users</h1>
    <div class="btn btn-primary pull-right" style="margin-top:25px;" ui-sref="new-account">Create new +</div>
    </div>
    <hr/>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Created on</th>
                <th>Role</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tea Skvarc</td>
                <td>tea@gmail.com</td>
                <td>12.2.2222</td>
                <td>Patient</td>
                <td><div class="btn btn-xs btn-danger">Delete</div></td>
            </tr>


        </tbody>
    </table>


</div>
